@model IEnumerable<MyMvcApp.Models.User>
@{
    ViewBag.Title = "Index";
    var query = Context.Request.Query["query"].ToString();
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "User")
</p>

<form asp-action="Search" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Search users..." value="@query" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>